* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-green: #43a906;
}

/* body {
  width: 1920px;
} */

.container {
  width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION HEADER */

.section_header {
  text-align: center;
  margin-top: 114px;
}

.section_header.header_white > .section_header-greet {
  color: #fff;
}

.section_header.header_white > .section_header-text {
  color: #fff;
}

.section_header-greet {
  text-transform: uppercase;
  height: 27px;
  margin: 0 85px 35px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #222222;
}

.section_header-text {
  height: 17px;
  margin: 35px 4px 60px 12px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #393939;
}

/* GRID SYSTEM */

.works_grid-item.item_2,
.works_grid-item.item_7,
.works_grid-item.item_8 {
  display: none;
}

.works_grid-item.item_1 {
  grid-column: 1/3;
  width: 100%;
}

.works_grid-item.item_4 {
  grid-column: 4/5;
  grid-row: 1/3;
  height: 100%;
}

.works_grid-item.item_6 {
  grid-column: 2/4;
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  /* background-color: #ce0c0c; */
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.header_adds {
  display: flex;
  align-content: center;
}

.adds_adress {
  display: flex;
  border-right: 1px solid #e6e5e5;
}

.adds_adress-icon {
  width: 14px;
  height: 12px;
  margin: 3px 6px 3px 0;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}

.adds_adress-text {
  height: 13px;
  margin: 4px 6px 4px 6px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.adds_phone {
  display: flex;
}

.adds_phone-icon {
  width: 13px;
  height: 13px;
  margin: 2px 5px 3px 10px;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.adds_phone-text {
  height: 10px;
  margin: 4px 6px 4px 6px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.header_social {
  display: flex;
}

.header_social-icon:hover {
  cursor: pointer;
  color: var(--main-green);
}

.fa-facebook-f {
  width: 7px;
  height: 12px;
  margin: 0 8px 6px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.fa-twitter {
  width: 13px;
  height: 11px;
  margin: 1px 8px 6px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.fa-google-plus-g {
  width: 17px;
  height: 10px;
  margin: 1px 8px 6px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.fa-vimeo {
  width: 11px;
  height: 11px;
  margin: 1px 0 6px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 105px;
  align-items: center;
}

.navbar_logo {
  display: flex;
  justify-content: center;
}

.navbar_logo-icon {
  width: 24px;
  height: 24px;
  margin: 10px -42px 52px 18px;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-green);
}

.navbar_logo-icon_reverse {
  width: 24px;
  height: 24px;
  margin: 10px -42px 52px 18px;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-green);
  left: 20px;
  position: relative;
  transform: scaleX(-1);
}

.navbar_logo-logo {
  width: 152px;
  height: 24px;
  margin: 20px 0px 32px 0px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
}

.navbar_menu {
  margin-right: -20px;
}

.navbar_menu-list {
  display: flex;
  justify-content: center;
}

.navbar_menu-list_item {
  height: 12px;
  margin: 35px 20px 41px 20px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #393939;
}

.navbar_menu-list_item:hover {
  color: var(--main-green);
}

.li-border:hover {
  cursor: pointer;
  border-bottom: 5px solid var(--main-green);
  margin-bottom: -10px;
}

/* SLIDER */

.slider {
  height: 785px;
  /* opacity: 0.3; */
  background-color: #bdbebd;
}

.slider_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5;
}

.slider_text-header {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: -0.23px;
  text-align: center;
  color: #ffffff;
}

.slider_text-main {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 72px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.slider_text-comment {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.slider_button {
  cursor: pointer;
  outline: none;
  width: 180px;
  height: 57px;
  margin: 46px 0px 158px;
  border-radius: 2px;
  background-color: #101010;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.slider_dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}

.slider_dot {
  cursor: pointer;
  outline: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0px 3.5px;
  border: solid 3px #e6e5e5;
  background-color: transparent;
}

.slider_dot.active {
  background-color: #f5f5f5;
}

/* SYMBOLS */

.symbol {
  height: 645px;
  background-color: #ffffff;
}

.symbol_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol_symbols {
  display: flex;
  margin-bottom: 114px;
}

.symbols_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 270px;
  margin: 0px 16px;
}

.symbols_card-logo {
  width: 120px;
  height: 120px;
  padding: 38px;
  border: solid 2px #c4c4c4;
  border-radius: 50%;
  background-color: #fff;
}

.symbol_hover:hover .symbols_card-logo {
  background-color: var(--main-green);
  border-color: var(--main-green);
}

.symbol_hover:hover .logo_circle {
  color: #fff;
}

.symbol_hover:hover .symbols_card-header {
  color: var(--main-green);
}

.logo_circle {
  width: 40px;
  height: 44px;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #c4c4c4;
}

.water {
  transform: scaleY(-1);
}

.symbols_card-header {
  height: 15px;
  margin: 34px 0px 24px 0px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #393939;
}

.symbols_card-text {
  height: 84px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}

/* JOIN */

.join {
  height: 302px;
  background-color: #222222;
}

.join_pos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join_text {
  text-align: left;
  margin: 100px 0;
  width: 720px;
}

.join_text-header {
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.join_text-header span {
  color: var(--main-green);
}

.join_text-info {
  margin-top: 30px;
  font-family: "OpenSans", sans-serif;
  font-size: 14.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.66;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.join_btn {
  width: 208px;
  height: 52px;
  margin: 136px 0 114px 0;
  border-radius: 2px;
  background-color: var(--main-green);
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

/* WORKS */

.works {
  height: 1046px;
  background-color: #ffffff;
}

.works_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works_btns {
  display: flex;
  justify-content: center;
}

.works_btns-btn {
  height: 45px;
  padding: 0px 22px;
  margin: 0 5px;
  border-radius: 2px;
  border: solid 1px #e9e9e9;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #726e6e;
  text-transform: uppercase;
  outline: none;
}

.works_btns-btn:hover {
  cursor: pointer;
  background-color: var(--main-green);
  color: #ffffff;
}

.works_btns-btn.active {
  background-color: var(--main-green);
  color: #ffffff;
}

.works_grid {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-gap: 10px;
  margin-top: 55px;
}

.works_grid-item {
  width: 285px;
  height: 285px;
  background-color: #bdbebd;
}

.works_grid-item:hover > .works_grid-hover {
  display: flex;
}

.works_grid-hover {
  display: none;
  max-height: 100%;
  min-height: 100%;
  min-height: -webkit-fill-available;
  justify-content: center;
  align-items: center;
  margin: 10px;
  opacity: 0.85;
  background-color: #030300;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* ACHIVEMENT */

.achivement {
  height: 567px;
  background-color: #bdbebd;
}

.achivement_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achivement_symbols {
  display: flex;
}

.achivement_card {
  width: 200px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.achivement_card-logo {
}

.achivement_logo {
  font-size: 81px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-green);
}

.achivement_card-counter {
  margin-top: 30px;
  margin-bottom: 21px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 37px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.achivement_card-head {
  padding: 19px 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.card_head-border {
  border-bottom: 1px solid #fff;
}

/* EVENT */

.event {
  height: 955px;
  background-color: #ffffff;
}

.event_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_info {
  display: flex;
  justify-content: center;
  height: 588px;
}

.event_info-grid {
  display: grid;
  grid-template-rows: 294px;
  grid-template-columns: repeat(2, 380px);
}

.info_grid-pic {
  background-color: #bdbebd;
}

.info_grid-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f2;
}

.grid_text-header {
  margin-top: 31px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #454444;
}

.grid_text-date {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6c6b6b;
}

.grid_text-info {
  width: 328px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}

.grid_text-button {
  width: 129px;
  height: 40px;
  margin-bottom: 38px;
  border-radius: 2px;
  border: solid 1px #383938;
  background-color: #101010;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.grid_text-button.active {
  background-color: var(--main-green);
}

.event_info-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 22px;
}

.info_flex-block {
  display: flex;
  height: 90px;
  width: 385px;
}

.flex_block-pic {
  width: 95px;
  height: 90px;
  background-color: #bdbebd;
}

.flex_block-text {
  width: 264px;
  padding: 0px 20px;
}

.block_text-header {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #454444;
  white-space: nowrap;
}

.block_text-info {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
  width: 270px;
  margin-top: 20px;
  height: 39px;
}

/* TESTIMONIALS */

.testimonials {
  height: 682px;
  background-color: #222222;
}

.testimonials_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.testimonials_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials_cards {
  display: flex;
  margin-top: 52px;
  justify-content: space-between;
}

.testimonials_card {
  display: flex;
  flex-direction: column;
  width: 570px;
  justify-content: center;
  height: 190px;
  align-items: center;
  background-color: #ffffff;
}

.testimonials_card-pic {
  position: relative;
  bottom: 60px;
  margin-bottom: -50px;
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-color: #bdbebd;
}

.testimonials_card-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.testimonials_text-logo {
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: right;
  color: #222222;
  transform: rotateZ(180deg);
  padding-bottom: 0px;
  padding-top: 48px;
  margin-left: 20px;
}

.testimonials_text-text {
  width: 486px;
  height: 67px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.testimonials_card-author {
  top: 87px;
  position: relative;
}

.testimonials_author {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.testimonials_position {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: var(--main-green);
}
